* {
    box-sizing: border-box;
}
#titele {
    margin: 30px;
}
h3 {
    margin: 20px 0 ;
}
#chicken, #beef, #sushi {
    padding: 20px;
    border: 2px solid;
    width: 400px;
    margin: 10px auto;
}